/* Created by Igor Penjivrag (www.colorlightstudio.com) - 12.11.2006 */


body {
	margin: 0px;
	background: url(top_bg.gif);
	background-repeat: repeat-x;
/*	font-family: Verdana, Arial, sans-serif;*/
	font-family: 'Helvetica Neue', sans-serif;
        font-size: .9em;
}

p {
	line-height: 17px;
	margin: 11px 0 10px 0;
	padding: 0px;
}

h2 {
	color: #73353A;
	margin:0px;
	padding:0px;
	font-size: 15px;
}

ul {
	font-size: 14px;
	margin:0;
	padding:0;
	list-style-image: url(bullet.gif);
}

a {
	color: #8B0000;
}

a:hover {
	text-decoration: none;
}

blockquote{
	background: #F7FDE3;
	color: #606060;
	padding: 10px;
}


/**** Main Container ***/


#wrap {
       margin-left: auto;
       margin-right: auto;
       width: 1000px;
}


/**** Top ***/


#top {
	width: 100%;
	height: 88px;
	color: #fff;
	background: #000 url(top_bg.gif);
	overflow:hidden;
}

#top h2 {
	color: White;
	letter-spacing: 3px;
	font-size: 2.4em;
	font-weight: normal;
	position: relative;
	margin: 0px;
	top:33px;
	display:block;
	float:left;
	/*background: url(img/logo.jpg) no-repeat;*/
	padding-left: 20px;
}

#top h2 a {
	color: white;
	text-decoration: none;
}

#top h2 a:hover {
        color: #FF5938;
}


/**** Main Menu ***/


#menu {
	display: block;
	float:right;
}

#menu ul {
	margin: 0;
	list-style: none;
}

#menu li {
	display: block;
	float: left;
	white-space: nowrap;
}

#menu li a {
	display: block;
	padding: 55px 20px 12px 20px;
	text-decoration: none;
	color: #fff;
}

* html #menu a {width:1%;}

#menu li a:hover {
	background: #FF5938;
}

#menu li a.current {
	letter-spacing: 1px;
	color: gray;
}

#menu li a.current:hover {
	color: #fff;
}


/**** Content Container ***/


#content {
	width: 100%;
	margin-top:30px;
}

#content-centered {
	max-width: 650px;
	width: 100%;
	margin-left:20px;
}

#content-centered ul {
	padding: 0px 0 10px 30px;
	margin:0px;
}

#content h2 {
	margin: 0;
	padding: 10px 0 10px 0;
}


/**** Content ***/


#left ul {
	padding: 15px 0 15px 35px;
	margin:10px;
}

#left li {
	margin-bottom:5px;
}

#left {
	width: 650px;
	float:left;
	display: block;
        margin-left: 20px;
	display: inline;
}


/**** Sidebar ***/


#right {
	width: 315px;
	float: right;
	display:block;
	margin-top: 10px;
	font-family: 'Helvetica Neue', sans-serif;        
}

#right .box {
	width: 280px;
	background: #F6F9FB;
	border: 1px solid #E1E1E1;
	padding:10px 10px 15px 10px;
	float: right;
}

#right .box h2 {
	font-size: 1.1em;
	margin: 0px 0 0px 0;
	padding:0px 0 5px 0;
}

#right .box a {
	margin: 10px 0 10px 0;
	color: #56677C;
	font-size: 13px;
}

#right .box p {
	margin: 5px 0 10px 0;
	line-height: 16px;
	font-size: 13px;
}

#right .box ul {
	padding: 0 0 7px 20px;
	margin:10px 0 10px 0;
}

#right .box li {
	margin-top:5px;
}


/**** Clear Div ***/


#clear {
	display: block;
	clear: both;
	width: 100%;
	height:1px;
	overflow:hidden;
}


/**** Footer ***/


#footer {
        margin: 40px auto 0 auto;
	text-align: center;
	border-top: dotted 1px gray;
	padding: 20px 0 20px 0;
	width: 70%;
}

#footer p {
	margin: 0px;
	padding: 0;
}

.teaching {
	display :none;
}

.showteach {
	position:absolute;
left:0px;
top:0px;
}

.showres {
	position:absolute;
left:0px;
top:0px;
}



.showteach:target ~ .teaching {
    display:inline; 
}

.showteach:target ~ .research {
    display:none; 
}


.showres:target ~ .teaching {
    display:none; 
}

.showres:target ~ .research {
    display:inline; 
}



